.normal-cards {
    /* background-color: rgb(128, 208, 151); */
    /* background-color: red; */
    width: 20%;
    border-radius: 1vh;

    background-color: rgba(0, 0, 0, 0.339);
    border: 0.4vw solid rgb(203, 136, 11);
    color: white;
}

.shoppingcart {
    /* background-color: aqua; */
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}