.shoppincart-section {
    min-height: 100vh;
}

.total-price-section {
    background-color: rgb(26, 197, 106);
    display: flex;
    justify-content: space-around;
    font-size: 6vh;
    color: white;
    border-radius: 10px;
    width: 28vw;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.cards-section {
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    margin-top: 10vh;
}

.normal-cards {
    /* background-color: rgb(128, 208, 151); */
    /* background-color: red; */
    width: 20%;
    border-radius: 1vh;

    background-color: rgba(0, 0, 0, 0.339);
    border: 0.4vw solid rgb(203, 136, 11);
    color: white;
}

.shoppingcart {
    /* background-color: aqua; */
    margin-top: 20vh;
    margin-bottom: 4vh;
    /* display: flex;
    flex-wrap: wrap; */
    /* gap: 1vw; */
}

.text {
    color: white;
}

.shp-button {
    margin-top: 3vh;
}